In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
372,tt1014759,200000000,1025467110,Alice in Wonderland,Mia Wasikowska|Johnny Depp|Anne Hathaway|Helen...,Tim Burton,You're invited to a very important date.,"Alice, an unpretentious and individual 19-year...",108,Family|Fantasy|Adventure,Walt Disney Pictures|Team Todd|Tim Burton Prod...,3/3/2010,6.3,2010
1806,tt0175142,19000000,278019771,Scary Movie,Carmen Electra|Dave Sheridan|Anna Faris|Jon Ab...,Keenen Ivory Wayans,No mercy. No shame. No sequel.,Following on the heels of popular teen-scream ...,88,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/7/2000,5.9,2000
205,tt2011159,13200000,53830415,No Good Deed,Idris Elba|Taraji P. Henson|Leslie Bibb|Kate d...,Sam Miller,First he gets into your house. Then he gets in...,"Terri, a devoted wife and mother of two, lives...",84,Thriller,Sony Pictures|Screen Gems,9/12/2014,5.8,2014
916,tt0303714,12000000,75781642,Barbershop,Ice Cube|Anthony Anderson|Cedric the Entertain...,Tim Story,Everyone's gettin' lined up.,A day in the life of a barbershop on the south...,102,Comedy|Drama,Metro-Goldwyn-Mayer (MGM),4/1/2002,6.2,2002
154,tt1121096,95000000,114178613,Seventh Son,Jeff Bridges|Julianne Moore|Ben Barnes|Alicia ...,Sergey Bodrov,"When darkness falls, the son will rise. When t...","John Gregory, who is a seventh son of a sevent...",102,Adventure|Fantasy,Legendary Pictures|Thunder Road Pictures|Outla...,12/12/2014,5.1,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget'] # создаем столбец profit (прибыль = сборы - бюджет)
from itertools import combinations # подключаем библиотеку itertools для 27 задания
from datetime import datetime #подключаем библиотеку datetime для работы с release_date
import locale
locale.setlocale(locale.LC_ALL, 'rus_rus') # русифицируем название месяца
summer = ['Июнь', 'Июль', 'Август'] # создаем список летних месяцев для задания 22

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [20]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [21]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [22]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [23]:
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [25]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [26]:
mean_data = data.runtime.mean()
round(mean_data)

110

In [27]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [28]:
data.runtime.median()

107.0

In [29]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [30]:
data[data.profit == data.profit.max()] # ищем максимальную прибыль используя столбец 'profit' вынесенный в предобработку

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [31]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [32]:
data[data.profit == data.profit.min()] # ищем фильм с минимальной прибылью используя столбец 'profit' вынесенный в предобработку

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [33]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [34]:
len(data[data.profit > 0]) # количество строк (фильмов) сборы которых выше бюджета (profit > 0)

1478

In [35]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [36]:
data_2008 = data[data['release_year']==2008] # создаем список фильмов вышедших в 2008 году
data_2008[data_2008.revenue == data_2008.revenue.max()] # выводим фильм с максимальными кассовыми сборами за 2008 год

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [37]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [38]:
data_interval = data[(data.release_year >= 2012) & (data.release_year <= 2014)] # создаем список фильмов вышедших с 2012 по 2014 год
data_interval[data_interval.profit == data_interval.profit.min()] # выводим фильм с минимальной прибылью в периоде

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [39]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [44]:
pd.Series(data.genres.str.split('|').sum()).value_counts() # собираем списки в один и выводим их количество

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [45]:
data.genres.str.split('|').explode().value_counts() #  делим жанры с разделителем '|' на отдельные жанры и выводим их количество

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [46]:
answers['11'] = '3. Dramma'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [47]:
data_profit = data[data.profit > 0] # создаем DataFrame прибыльных фильмов
data_profit.genres.str.split('|') # создаем списки жанров с разделителем '|'
data_profit.genres.str.split('|').explode().value_counts() # делим списки на отдельные жанры и выводим их количество

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [48]:
answers['12'] = '1. Dramma'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [49]:
data_director = data.groupby(['director']).sum() # группируем DataFrame по режиссерам
data_director[data_director['revenue'] == data_director.revenue.max()] # выводим режиссера с самыми большими суммарными кассовыми сборами

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

In [50]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [51]:
data_action = data[data.genres.str.contains("Action", na=False)] # создаем DataFrame с Action фильмами
data_action.director.str.split('|').explode().value_counts() # делим режиссеров на списки, объединяем и выводим их количество

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Oliver Parker         1
Spike Lee             1
Chad Stahelski        1
Ron Underwood         1
Terry Gilliam         1
Name: director, Length: 364, dtype: int64

In [52]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [53]:
data_2012 = data[data['release_year']==2012] # создаем список фильмов выпущенных в 2012 году
data_2012.cast = data_2012.cast.str.split('|') # дельм список разделителем "|"
data_2012 = data_2012.explode('cast')  # собираем списки в один
data_2012.groupby(['cast'])['revenue'].sum().idxmax() # группируем список по актерам и выводим фильм с максимальными кассовыми сборами

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

'Chris Hemsworth'

In [54]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [55]:
data_high_budget = data[data['budget'] > data['budget'].mean()] # создаем список высокобюджетных фильмов (бюджет выше среднего)
data_high_budget.cast.str.split('|').explode().value_counts() # делим актеров разделителем "|", объединям в один список и выводим количество

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
                  ..
T.J. Miller        1
Dev Patel          1
Lake Bell          1
Jack Reynor        1
Rupert Evans       1
Name: cast, Length: 1505, dtype: int64

In [56]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
data_cage = data[data.cast.str.contains("Nicolas Cage", na=False)] # создаем DataFrame с фильмами в которых снимался Nicolas Cage
data_cage.genres.str.split('|').explode().value_counts() # делим по жанрам и выводим количество каждого

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

In [58]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [59]:
data_p = data[data.production_companies.str.contains("Paramount Pictures", na=False)] # создаем DataFrame фильмов Paramount Pictures
data_p[data_p.profit == data_p.profit.min()] # выводим фильм с минимальной прибылью

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [60]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [61]:
data_release_year = data.groupby(['release_year']).sum() # группируем фильмы по годам и суммируем чиловые значения
data_release_year[data_release_year.revenue == data_release_year.revenue.max()] # выводим год с максимальным значением кассовых сборов

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

In [62]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [63]:
data_wb = data[data.production_companies.str.contains("Warner Bros", na=False)] # создаем DataFrame фильмов Warner Bros
data_wb = data_wb.groupby(['release_year']).sum() # группируем фильмы по годам и суммируем чиловые значения
data_wb[data_wb.profit == data_wb.profit.max()] # выводим год с максимальным значением прибыли

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

In [64]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [66]:
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y')) # используя библиотеку datatime приводим столбец даты релиза к удобному для работы виду
data['month'] = data.release_date.apply(lambda x: x.strftime('%B')) # создаем столбец с месяцем релиза
data['month'].value_counts().idxmax() # выводим на экран месяц с максимальным значением количества фильмов

'Сентябрь'

In [67]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [69]:
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y')) # используя библиотеку datatime приводим столбец даты релиза к удобному для работы виду
data['month'] = data.release_date.apply(lambda x: x.strftime('%B')) # создаем столбец с месяцем релиза
data['month'].value_counts()[summer].sum() # выводим количество фильмов вышедших летом (summer)

450

In [70]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [71]:
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date) # используя библиотеку datatime приводим столбец даты релиза к удобному для работы виду
data[data.release_date.dt.month.isin([1,2,12])].value_counts('director') # выводим режиссеров и количество фильмов реализованных в зимние месяцы (1, 2, 12)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Length: 332, dtype: int64

ВАРИАНТ 2

In [75]:
data = pd.read_csv('movie_bd_v5.csv')
data['director'] = data.director.str.split('|') # делим режиссеров на списки разделителем '|'
data = data.explode('director') # делим DataFrame на фильмы с режиссерами по отдельности
data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y')) # используя библиотеку datatime приводим столбец даты релиза к удобному для работы виду
data[['month']] = data.release_date.apply(lambda x: x.strftime('%B')) # создаем столбец с месяцем релиза
data[data.month.isin(["Январь","Февраль","Декабрь"])].value_counts('director')# выводим режиссеров и количество фильмов реализованных в зимние месяцы (Январь, Февраль, Декабрь)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Length: 358, dtype: int64

In [76]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [78]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data.production_companies.str.split('|')  # делим студии на списки разделителем '|'
data=data.explode('production_companies') # делим DataFrame на фильмы с студиями по отдельности
data['original_title'] = data['original_title'].apply(len) # вместо названия фильмов вписываем количество символов в названии
data_mean = data.groupby(['production_companies']).mean() # создаем DataFrame со средней длинной названия фильмов в студиях
data_mean['original_title'].idxmax() # выводим название студии с масимальным значением количества символов в названии фильмов

'Four By Two Productions'

In [79]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [80]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data.production_companies.str.split('|') # делим студии на списки разделителем '|'
data=data.explode('production_companies') # делим DataFrame на фильмы с студиями по отдельности
data['overview'] = data['overview'].str.split().apply(len) # вместо названия фильмов вписываем количество слов в названии
data_mean = data.groupby(['production_companies']).mean() # создаем DataFrame со средней длинной названия фильмов в студиях
data_mean['overview'].idxmax() # выводим название студии с масимальным значением количества слов в описании фильмов

'Midnight Picture Show'

In [81]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [85]:
data = pd.read_csv('movie_bd_v5.csv')
one_procent_best = [] # создаем список для одного процента лучших фильмов
new_data = data[data['vote_average'] > data['vote_average'].quantile(q=0.99)] # создаем новый DataFrame с фильмами рейтинг которых выше 99 процентов
one_procent_best.append(new_data['original_title']) # добавляем названия фильмов нового DataFrame в список одного процента лучших
one_procent_best # выводим список одного процента лучших фильмов

[9                                          Inside Out
 34                                               Room
 118                                      Interstellar
 119                           Guardians of the Galaxy
 125                                The Imitation Game
 128                                         Gone Girl
 138                          The Grand Budapest Hotel
 370                                         Inception
 599                                   The Dark Knight
 872                                       The Pianist
 1081    The Lord of the Rings: The Return of the King
 1183                          The Wolf of Wall Street
 1191                                 12 Years a Slave
 1800                                          Memento
 Name: original_title, dtype: object]

In [86]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [95]:
data = pd.read_csv('movie_bd_v5.csv')
quantity = Counter() # создаем счетчик
for i in range(0, len(data)): # перебираем значения в DataFrame 
    actors = data.cast[i].split('|') # делим актеров в DataFrame разделителем '|'
    for x in list(combinations(actors, 2)): # перебираем комбинации актеров встречающихся вместе по два
        if x not in quantity:
            quantity[x] = 1 # если комбинации еще нет в списке актеров присваеваем счетчику единицу
        else:
            quantity[x] += 1 # если такая комбинация уже была увеличиваем счетчик на 1
quantity.most_common(5) # выводим 5 самых встречаемых комбинаций актеров в фильмах

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [96]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [97]:
# смотрим список своих ответов к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Dramma',
 '12': '1. Dramma',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [98]:
# смотрим длину списка ответов чтобы убедиться что ни чего не пропустил)
len(answers)

27